body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 95%;
    height: 15%;
    padding: 20px;
    align-items: center;

}

#title {
    font-size: 24px;
    width: 95%;
    text-align: center;

}

#subtitle {
    font-size: 18px;
    width: 95%;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    
}

.barGraphData {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

}

.barGraphColumn {
    display: flex;
    flex-direction: column;
}

.label {
    writing-mode: vertical-rl;
    flex-direction: column;
    font-size: 8px;
    padding: 2px;
    height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    margin: auto;
}

.bar {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2px;
}

.barGraph {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e9f2;
    width: 500px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.barGraphTitle {
    text-align: center;
}

.barGraphBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.yLabel {
    writing-mode: vertical-rl;
    float: left;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    padding: 5px;
    
}

.xLabel {
    width: 100%;
    text-align: center;
}

.xLabel, .yLabel {
    font-size: 14px;
}

.statsSummary {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 20px;
    border: 1px solid #e4e9f2;
    align-content: center;

}

.statsTitle {
    text-align: center;
}

.statsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

