/* Top of page details */

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 95%;
    height: 15%;
    padding: 20px;
    align-items: center;
}

#title {
    font-size: 24px;
    width: 95%;
    text-align: center;
}

#subtitle {
    font-size: 18px;
    width: 95%;
    text-align: center;
}

/* Error message details */

.errorBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.errorText {
    text-align: center;
    padding: 5px;
}

/* Playlist details */

#playlists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.playlistImage {
    width: 300px;
    height: 300px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.playlistCard {
    width: 300px;
    height: 300px;
    padding: 10px;
    text-align: center;
    position: relative;
    display: block;
}

.playlistText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: none;
}

.playlistCard:hover img {
    filter: brightness(25%);
}

.playlistCard:hover .playlistText {
    display: block;
}